<br>
<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <div *ngIf="alert.msg">
      <p>
        <ngb-alert [type]="alert.type" (close)="closeAlert()">{{ alert.msg }}</ngb-alert>
      </p>
    </div>
    <h4>Cadastro de Professor</h4>
    <br>
    <form [formGroup]="formProfessor" (submit)="cadastrarProfessor()">
      <div class="form-group">
        <label>Nome</label>
        <input type="text" class="form-control" placeholder="Nome completo" formControlName="nome">
        <div *ngIf="formProfessor.get('nome').invalid && (formProfessor.get('nome').dirty || formProfessor.get('nome').touched)">
          <small class="form-text text-danger" *ngIf="formProfessor.get('nome').errors.required">O Nome é Obrigatorio.</small>
          <small class="form-text text-danger" *ngIf="formProfessor.get('nome').errors.minlength">Quantidade de caracteres insulficiente.</small>
        </div>
      </div>
      <div class="form-group">
        <label>Data de Nascimento</label>
        <input type="date" class="form-control" formControlName="dtNascimento">
        <div *ngIf="formProfessor.get('dtNascimento').invalid && (formProfessor.get('dtNascimento').dirty || formProfessor.get('dtNascimento').touched)">
          <small class="form-text text-danger" *ngIf="formProfessor.get('dtNascimento').errors.required">Data de Nascimento é Obrigatorio.</small>
        </div>

      </div>
      <div>
        <button type="submit" class="m5 btn btn-primary btn-sm" *ngIf="idProfessor == 0" [ngClass]="{'disabled' : !formProfessor.valid}">Cadastrar</button>
        <button type="button" class="m5 btn btn-primary btn-sm" *ngIf="idProfessor > 0" [ngClass]="{'disabled' : !formProfessor.valid}"
          (click)="editarProfessor()">Editar</button>
        <button type="button" class="m5 btn btn-danger btn-sm" [routerLink]="['/professor']">Cancelar</button>
      </div>
    </form>
  </div>
</div>
