<div class="text-right">
  <br>
  <button type="button" class="m5 btn btn-info btn-sm" (click)="dowloadPdf()">Download</button>
</div>
<div class="col-xs-12" id="content" #content>
  <br>
  <h3>Relatório de Matrícula</h3>
  <br>
  <div class="container">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>ID Aluno</th>
            <th>Nome</th>
            <th>Curso</th>
            <th>Professor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listRelatorio">
            <td>{{item?.id}}</td>
            <td>{{item?.nome}}</td>
            <td>{{item?.curso_com_professor.nome}}</td>
            <td>{{item?.curso_com_professor.professor.nome}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
