<div class="col-xs-12">
  <br>
  <h3>Listagem de Professores</h3>
  <div class="text-right">
    <button type="button" class="btn btn-success btn-sm" [routerLink]="['/cadastroProfessor']">Novo</button>
  </div>
  <br>
  <div class="container">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>Outros</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listProfessor">
            <td>{{item?.id}}</td>
            <td>{{item?.nome}}</td>
            <td>{{item?.dtNascimento | date: 'dd/MM/yyyy' }}</td>
            <th>
              <img src="assets/icon/edit.svg" class="m5 icon" alt="editar" [routerLink]="['/cadastroProfessor']" [queryParams]="{ id: item?.id }">
              <img src="assets/icon/trash-alt.svg" class="m5 icon" alt="delete" (click)="open(content, item)">
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ngb-pagination *ngIf="professores.length > 10" class="d-flex justify-content-center" [collectionSize]="professores.length" [(page)]="pagina"
    #index (click)="mudaPagina(index.page)"></ngb-pagination>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Deleta Professor</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <p>Tem certeza que deseja deletar o preffos '{{professorDelete?.nome}}'x nascido em {{professorDelete?.dtNascimento |
        date: 'dd/MM/yyyy'}}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger btn-sm" (click)="c('Save click')">Deletar</button>
    <button type="button" class="btn btn-outline-warning btn-sm" (click)="d('Cross click')">Cancelar</button>
  </div>
</ng-template>