<div class="col-xs-12">
  <br>
  <h3>Listagem de Alunos</h3>
  <div class="text-right">
    <button type="button" class="m5 btn btn-info btn-sm" [routerLink]="['/relatorio']">Relatorio</button>
    <button type="button" class="m5 btn btn-success btn-sm" [routerLink]="['/cadastroAluno']">Novo</button>
  </div>
  <br>
  <div class="container">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Curso</th>
            <th>Estado</th>
            <th>Data de Nascimento</th>
            <th>Outros</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listAlunos">
            <td>{{item?.id}}</td>
            <td>{{item?.nome}}</td>
            <td>{{item?.curso.nome}}</td>
            <td>{{item?.estado}}</td>
            <td>{{item?.dtNascimento | date: 'dd/MM/yyyy'}}</td>
            <th>
              <img src="assets/icon/edit.svg" class="m5 icon" alt="editar" [routerLink]="['/cadastroAluno']" [queryParams]="{ id: item?.id }">
              <img src="assets/icon/trash-alt.svg" class="m5 icon" alt="delete" (click)="open(content, item)">
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ngb-pagination *ngIf="alunos.length > 10" class="d-flex justify-content-center" [collectionSize]="alunos.length" [(page)]="pagina"
    #index (click)="mudaPagina(index.page)"></ngb-pagination>
</div>

<!-- <app-modal-delete [modal]="alunos" [chamaDel]="openModal" (deletar)=delete($event)></app-modal-delete> -->

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Deleta Aluno</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <p>Tem certeza que deseja deletar o estudante {{alunoDelete?.nome}} nascido em {{alunoDelete?.dtNascimento | date: 'dd/MM/yyyy'}}</p>
      <p *ngIf="alunoDelete?.curso.nome">O mesmo se encontra matriculado no curso '{{alunoDelete?.curso.nome}}'</p>
      <ng-template #other_content>*O mesmo não está matrivulado em nenhum curso atualmente.</ng-template>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger btn-sm" (click)="c('Save click')">Deletar</button>
    <button type="button" class="btn btn-outline-warning btn-sm" (click)="d('Cross click')">Cancelar</button>
  </div>
</ng-template>