<br>
<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <div *ngIf="alert.msg">
      <p>
        <ngb-alert [type]="alert.type" (close)="closeAlert()">{{ alert.msg }}</ngb-alert>
      </p>
    </div>
    <h4>Cadastro de Curso</h4>
    <br>
    <form [formGroup]="formCurso" (submit)="cadastrarCurso()">
      <div class="form-group">
        <label>Nome</label>
        <input type="text" class="form-control" placeholder="Nome completo" formControlName="nome">
        <div *ngIf="formCurso.get('nome').invalid && (formCurso.get('nome').dirty || formCurso.get('nome').touched)">
          <small class="form-text text-danger" *ngIf="formCurso.get('nome').errors.required">O Nome é Obrigatorio.</small>
          <small class="form-text text-danger" *ngIf="formCurso.get('nome').errors.minlength">Quantidade de caracteres insulficiente.</small>
        </div>
      </div>
      <div class="form-group">
        <label>Professor </label>
        <select class="form-control" formControlName="idProfessor">
          <option value='0' class="disabled"> Selecione um Professor</option>
          <option *ngFor="let prof of listProfessores" [value]='prof.id'>{{ prof?.nome}}</option>
        </select>
        <div *ngIf="formCurso.get('idProfessor').invalid && (formCurso.get('idProfessor').dirty || formCurso.get('idProfessor').touched)">
          <small class="form-text text-danger" *ngIf="formCurso.get('idProfessor').errors.required">Professor do Curso é Obrigatorio.</small>
        </div>

      </div>
      <div>
        <button type="submit" class="m5 btn btn-primary btn-sm" *ngIf="idCurso == 0" [ngClass]="{'disabled' : !formCurso.valid}">Cadastrar </button>
        <button type="button" class="m5 btn btn-primary btn-sm" *ngIf="idCurso > 0" [ngClass]="{'disabled' : !formCurso.valid}" (click)="editarCurso()">Editar</button>
        <button type="button" class="m5 btn btn-danger btn-sm" [routerLink]="['/curso']">Cancelar</button>
      </div>
    </form>
  </div>
</div>
