<div class="col-xs-12">
  <br>
  <h3>Listagem de Cursos</h3>
  <div class="text-right">
    <button type="button" [routerLink]="['/cadastroCurso']" class="btn btn-success btn-sm">Novo</button>
  </div>
  <br>
  <div class="container">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Data de Criação</th>
            <th>Outros</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listCursos">
            <td>{{item?.id}}</td>
            <td>{{item?.nome}}</td>
            <td>{{item?.created_at | date: 'dd/MM/yyyy' }}</td>
            <th>
              <img src="assets/icon/edit.svg" class="m5 icon" alt="editar" [routerLink]="['/cadastroCurso']" [queryParams]="{ id: item?.id }">
              <img src="assets/icon/trash-alt.svg" class="m5 icon" alt="delete" (click)="open(content, item)">
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ngb-pagination *ngIf="cursos.length > 10" class="d-flex justify-content-center" [collectionSize]="cursos.length" [(page)]="pagina"
    #index (click)="mudaPagina(index.page)"></ngb-pagination>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Deleta Curso</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <p>Tem certeza que deseja deletar o curso {{cursoDelete?.nome}} criado em {{cursoDelete?.dtCriacao | date: 'dd/MM/yyyy'}}</p>
      <p *ngIf="cursoDelete?.professor.nome">O mesmo é ministrado pelo professsor(a) '{{cursoDelete?.professor.nome}}'</p>
      <ng-template #other_content>*O mesmo não está sen mistrado por nenhum professor.</ng-template>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger btn-sm" (click)="c('Save click')">Deletar</button>
    <button type="button" class="btn btn-outline-warning btn-sm" (click)="d('Cross click')">Cancelar</button>
  </div>
</ng-template>
