<br>
<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <div *ngIf="alert.msg">
      <p>
        <ngb-alert [type]="alert.type" (close)="closeAlert()">{{ alert.msg }}</ngb-alert>
      </p>
    </div>
    <h4>Cadastro de Aluno</h4>
    <br>
    <form [formGroup]="formAluno" (submit)="cadastrarAluno()">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Nome</label>
          <input type="text" class="form-control" placeholder="Nome completo" formControlName="nome">
          <div *ngIf="formAluno.get('nome').invalid && (formAluno.get('nome').dirty || formAluno.get('nome').touched)">
            <small class="form-text text-danger" *ngIf="formAluno.get('nome').errors.required">O Nome é Obrigatorio.</small>
            <small class="form-text text-danger" *ngIf="formAluno.get('nome').errors.minlength">Quantidade de caracteres insulficiente.</small>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>Data de Nascimento</label>
          <input type="date" class="form-control" formControlName="dtNascimento">
          <div *ngIf="formAluno.get('dtNascimento').invalid && (formAluno.get('dtNascimento').dirty || formAluno.get('dtNascimento').touched)">
            <small class="form-text text-danger" *ngIf="formAluno.get('dtNascimento').errors.required">Data de Nascimento é Obrigatorio.</small>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Curso </label>
        <select class="form-control" formControlName="idCurso">
          <option value='0' class="disabled"> Selecione um Curso</option>
          <option *ngFor="let curso of listCursos" [value]='curso.id'>{{ curso?.nome}}</option>
        </select>
        <div *ngIf="formAluno.get('idCurso').invalid && (formAluno.get('idCurso').dirty || formAluno.get('idCurso').touched)">
          <small class="form-text text-danger" *ngIf="formAluno.get('idCurso').errors.required">Curso é Obrigatorio.</small>
          <small class="form-text text-danger" *ngIf="formAluno.get('idCurso').errors.min">Selecione um Curso valido.</small>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Cep</label>
          <input type="text" class="form-control" formControlName="cep" (keyup)="verificaCep()">
          <div *ngIf="formAluno.get('cep').invalid && (formAluno.get('cep').dirty || formAluno.get('cep').touched)">
            <small class="form-text text-danger" *ngIf="formAluno.get('cep').errors.required">Cep é Obrigatorio.</small>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Cidade</label>
          <input type="text" class="form-control" formControlName="cidade">
          <div *ngIf="formAluno.get('cidade').invalid && (formAluno.get('cidade').dirty || formAluno.get('cidade').touched)">
            <small class="form-text text-danger" *ngIf="formAluno.get('cidade').errors.required">Cidade é Obrigatorio.</small>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Estado</label>
          <input id="typeahead-focus" type="text" class="form-control" [ngbTypeahead]="search" (focus)="focus$.next($event.target.value)"
            (click)="click$.next($event.target.value)" #instance="ngbTypeahead" formControlName="estado" />
          <div *ngIf="formAluno.get('estado').invalid && (formAluno.get('estado').dirty || formAluno.get('estado').touched)">
            <small class="form-text text-danger" *ngIf="formAluno.get('estado').errors.required">Estado é Obrigatorio.</small>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Logradouro</label>
          <input type="text" class="form-control" formControlName="logradouro">
          <div *ngIf="formAluno.get('logradouro').invalid && (formAluno.get('logradouro').dirty || formAluno.get('logradouro').touched)">
            <small class="form-text text-danger" *ngIf="formAluno.get('logradouro').errors.required">Logradouro é Obrigatorio.</small>
          </div>
        </div>
        <div class="form-group col-md-2">
          <label>Numero</label>
          <input type="text" class="form-control" formControlName="numero">
        </div>
        <div class="form-group col-md-4">
          <label>Bairro</label>
          <input type="text" class="form-control" formControlName="bairro">
          <div *ngIf="formAluno.get('bairro').invalid && (formAluno.get('bairro').dirty || formAluno.get('bairro').touched)">
            <small class="form-text text-danger" *ngIf="formAluno.get('bairro').errors.required">Bairro é Obrigatorio.</small>
          </div>
        </div>
      </div>
      <div>
        <button type="submit" class="m5 btn btn-primary btn-sm" *ngIf="idAluno == 0" [ngClass]="{'disabled' : !formAluno.valid}">Cadastrar</button>
        <button type="button" class="m5 btn btn-primary btn-sm" *ngIf="idAluno > 0" [ngClass]="{'disabled' : !formAluno.valid}" (click)="editarAluno()">Editar</button>
        <button type="button" class="m5 btn btn-danger btn-sm" [routerLink]="['/aluno']">Cancelar</button>
      </div>
    </form>
  </div>
</div>
